root = true

[*]
max_line_length = 100
indent_size = 2

[*.yml]
max_line_length = 200

[*.yaml]
max_line_length = 200

[*.json]
max_line_length = 120

[*.json5]
max_line_length = 120

[Dockerfile*]
max_line_length = 200

[{*.gradle,build.gradle,settings.gradle}]
max_line_length = 150

[*.xml]
max_line_length = 200

[build.gradle]
indent_size = 2

[*.java]
max_line_length = 120
indent_size = 2

# ktlint overrides
[{*.kt,*.kts}]
max_line_length = 160
continuation_indent_size = 2
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_package-name = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_function-literal = disabled
