[tools]
java = "temurin-25.0.1+8.0.LTS"
lychee = "0.22.0"

[tasks.build]
description = "Build the Java project"
run = "./gradlew build"

[tasks.fix-markdown]
description = "Fix markdown linting issues"
run = "markdownlint-cli2 --fix ."

[tasks.lint-links]
description = "Lint links using lychee"
run = "lychee ."

[tasks.lint-all]
depends = ["super-linter", "lint-links"]
