# JMX Bean: https://github.com/apache/commons-pool/blob/master/src/main/java/org/apache/commons/pool3/impl/GenericKeyedObjectPoolMXBean.java
# Semantic Convention: https://opentelemetry.io/docs/specs/otel/metrics/semantic_conventions/database-metrics/
rules:
  - bean: org.apache.commons.pool2:type=GenericObjectPool,name=*
    metricAttribute:
      pool.name: param(name)
    type: updowncounter
    prefix: db.client.connections.
    unit: "{connection}"
    mapping:
      NumActive:
        metric: usage
        metricAttribute:
          state: const(used)
        desc: total number of instances currently borrowed from this pool but  not yet returned - Returns a negative value if this information is not available.
      MaxTotal:
        metric: max
        desc: the maximum number of objects that can be allocated by the pool (checked out to clients, or idle awaiting checkout) at a given time. A negative value indicates no limit.
