name: Build

on: [pull_request]

permissions: {}

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        java:
          - 8 # TestedInstrumentationsSmokeTest only runs with this version, so update this test when 8 gets removed from the test matrix
          - 11
          - 17
          - 21
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
      - name: Build
        run: mise run build
        env:
          CHECK_GENERATED_FILES: true
          SMOKE_TEST_JAVA_VERSION: ${{ matrix.java }} # the smoke tests will pick this up
