name: Build

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        java:
          - 8 # DisableUnsupportedInstrumentationsSmokeTest only runs with this version, so update this test when 8 gets removed from the test matrix
          - 11
          - 17
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.1.0
      - name: Setup Gradle and run build
        uses: gradle/gradle-build-action@v2.4.2
        env:
          CHECK_GENERATED_FILES: true
          SMOKE_TEST_JAVA_VERSION: ${{ matrix.java }} # the smoke tests will pick this up
        with:
          arguments: build
