name: markdownlint

on:
  pull_request:
    paths:
      - "**.md"

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: install markdownlint-cli
        run: sudo npm install -g markdownlint-cli

      - name: run markdownlint
        run: markdownlint .
