name: markdown-link-check

on:
  pull_request:
    paths:
      - "**.md"

permissions: {}

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
      - name: Lint links
        run: mise run lint-links
