name: markdownlint

on:
  pull_request:
    paths:
      - "**.md"

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: install markdownlint-cli
        run: sudo npm install -g markdownlint-cli

      - name: run markdownlint
        run: markdownlint .
