name: markdown-link-check

on:
  pull_request:
    paths:
      - "**.md"

permissions: {}

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Lint links
        run: mise run lint-links
