name: markdownlint

on:
  pull_request:
    paths:
      - "**.md"

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: install markdownlint-cli
        run: sudo npm install -g markdownlint-cli

      - name: run markdownlint
        run: markdownlint .
