name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions: {}

jobs:
  release:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    concurrency:
      group: "${{ github.workflow }}-${{ github.sha }}"
      cancel-in-progress: false

    permissions:
      actions: read
      attestations: write
      contents: write
      id-token: write

    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: false

      - name: Build
        run: mise run build-release
        env:
          TAG: ${{ github.ref_name }}

      - name: Attest artifacts
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-path: |
            agent/build/libs/grafana-opentelemetry-java.jar

      - name: Get release actor user type
        id: get-release-actor-user-type
        shell: pwsh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $actorType = (gh api "repos/${env:GITHUB_REPOSITORY}/actions/workflows/publish-release.yml/runs" --jq '.workflow_runs[0].actor.type')
          "release-actor-user-type=${actorType}" >> ${env:GITHUB_OUTPUT}

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          draft: ${{ steps.get-release-actor-user-type.outputs.release-actor-user-type != 'Bot' }}
          generate_release_notes: true
          files: |
            agent/build/libs/grafana-opentelemetry-java.jar
            LICENSE

      - name: Push to Docker (for OpenTelemetry Operator)
        uses: grafana/shared-workflows/actions/docker-build-push-image@b3d136565946d8788dd6812881fb0fb2fe14bacb # docker-build-push-image/v0.2.0
        with:
          context: .
          gar-environment: "prod"
          gar-image: grafana-opentelemetry-java
          gar-registry: "us-docker.pkg.dev"
          file: scripts/otel_operator/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          registries: gar
          tags: |
            type=match,pattern=v(.*),group=1
            latest
