name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.1.0
      - name: Setup Gradle and run build
        uses: gradle/gradle-build-action@v2.11.0
        with:
          arguments: build -x test
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            agent/build/libs/grafana-opentelemetry-java.jar
            LICENSE
