name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3.3.2
      - name: Setup Gradle and run build
        uses: gradle/gradle-build-action@v3.3.2
        with:
          arguments: build -x test
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            agent/build/libs/grafana-opentelemetry-java.jar
            LICENSE
      - name: Push to Docker (for OpenTelemetry Operator)
        uses: grafana/shared-workflows/actions/push-to-gar-docker@main
        with:
          registry: "us-docker.pkg.dev"
          image_name: grafana-opentelemetry-java
          context: .
          file: scripts/otel_operator/Dockerfile
          tags: |
            type=match,pattern=v(.*),group=1
            latest
          environment: "prod"

